---
layout: default
bodyclass: "content article"
---
<main>
  <article role="article" class="project-page">
    <header>
      <div class="project__info">
        <h1>{{ page.title }}</h1>
        <div class="project__blurb--header">{{ page.blurb }}</div>
      </div>
      <div class="widgets flex">
        <div class="member__container">
          <span class="info">Article by</span>
          {% assign member = site.members | where:"title", page.author | first %}
          <ul>
            <li>
              <figure>
                <img src="/images/members/{{ member.photo }}" alt="{{ member.title }}" />
                <figcaption><a href="{{ member.url }}">{{ member.title }}</a></figcaption>
              </figure>
            </li>
          </ul>
        </div>
        <div class="member__container">
          <span class="info">Project by</span>
          <ul>
            {% for creator in page.creators %}
            {% assign member = site.members | where:"title", creator.name | first %}
            <li>
              <figure>
                <img src="/images/members/{{ member.photo }}" alt="{{ member.title }}" />
                <figcaption><a href="{{ member.url }}">{{ member.title }}</a></figcaption>
              </figure>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </header>
    {{ content }}
    <hr/>
    <div class="cta">
      <a href="/projects">&lt; All Projects</a>
    </div>
  </article>
</main>