---
layout: default
---
<main>
  <article role="article" class="project-page">
    <div class="project__header">
      <div class="project__info">
        <h1><span class="label">Project: </span>"{{ page.title }}"</h1>
        <div class="project__blurb--header">{{ page.blurb }}</div>
      </div>
      <div class="project__author">
        <span class="author__name">Article by:<br /><a href="/members/{{ page.author_slug }}">{{ page.author }}</a></span>
        <img class="author__image" src="/images/members/{{ page.author_photo }}" alt="{{ page.author }}" />
      </div>
    </div>
    <section class="project__container">
      {{ content }}
    </section>
    <hr/>
    <div class="cta">
      <a href="/projects">&lt; All Projects</a>
    </div>
  </article>
</main>