---
layout    : page
title     : Feed
header    : A ticking feed of all the lab activity
bodyid    : "lab-feed"
bodyclass : "content"
---
{% include JB/setup %}
<main>
	{% for post in paginator.posts %}
	<article role="article" itemscope itemtype="http://schema.org/BlogPosting">
		<header>
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<time itemprop="dateCreated" datetime="2014-12-16">Wednesday 16 December 2014</time>
		</header>
		{{ post.content }}
		<hr />
	</article>
	{% endfor %}

  	<ul id="paging" class="cta">
  	{% if paginator.previous_page %}
      	{% if paginator.previous_page == 1 %}<li><a href="/feed/">Previous</a></li>
		{% else %}<li><a href="/feed/page{{ paginator.previous_page }}/">Previous</a></li>
		{% endif %}
	{% endif %}
	{% if paginator.next_page %}
		<li><a href="/feed/page{{ paginator.next_page }}/">Next page</a></li>
	{% endif %}
	</ul>
</main>