---
layout    : page
title     : Feed
header    : A ticking feed of all the lab activity
bodyid    : "lab-feed"
bodyclass : "content"
---
{% include JB/setup %}
<main>
  {% for post in site.posts %}
	<article role="article" itemscope itemtype="http://schema.org/BlogPosting">
		<header>
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<time itemprop="dateCreated" datetime="2014-12-16">Wednesday 16 December 2014</time>
		</header>
		{{ post.content }}
		<hr />
	</article>
  {% endfor %}
</main>