#members {
	>header {
		background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(/images/full-bleed/lab-3-1600.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}

	.grid {
		margin-top: 2em;
		text-align: justify;
		position: relative; left: -0.7em;
		width: 100%;

		figure {
			display: inline-block;
			width: 25%; /* Firefox needs 25% */
			margin: 2.4% 3.5% 6% 3.5%;
			vertical-align: text-top;
			text-align: center;
		}

		figcaption {
			margin-top: 0.4em;
		}

		p {
			margin: 0.2em 0 0.5em 0;
		}

		img, figcaption, p, ul {
			width: 100%;
			border-radius: 50%;
		}
	}
}

@media (max-width: 1299px) {
	#members>header {
		background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(/images/full-bleed/lab-3-1299.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}
}

@media (max-width: 1099px) {
	#members {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(/images/full-bleed/lab-3-1099.jpg);
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
		}

		.grid {
			text-align: center;
			left: -2em;

			figure {
				width: 39%;
				margin: 2.4% 2.5% 6% 5.5%;
			}
		}
	}
}

@media (max-width: 899px) {
	#members {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(/images/full-bleed/lab-3-899.jpg);
			background-size: cover;
			background-position: center top;
			background-attachment: inherit;
		}

		.grid {
			text-align: center;
			left: -1.75em;

			figure {
				width: 40%;
				margin: 2.4% 2% 6% 7%;
			}

			figcaption {
				margin-top: 1em;
			}

			p {
				margin: 0.5em 0;
			}
		}
	}
}

@media (max-width: 639px) {
	#members {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(/images/full-bleed/lab-3-639.jpg);
			background-size: cover;
			background-position: center top;
			background-attachment: inherit;
		}

		.grid {
			left: 0;

			figure {
				width: 70%;
				margin: 0 auto 2.8em auto;
			}

			h2 {
				font-size: 2em;
			}

			p {
				font-size: 1.4em;
			}
		}
	}
}