#stories {
	>header {
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/full-bleed/lab-2-1600.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}

	main {
		article {
			width: 66%;

			header {
				.widgets {
					position: absolute; left: 6%;

					ul {
						list-style-type: none;
						text-align: right;
						padding-top: 3.1em;
					}

					li {
						margin-bottom: 1.8em;
					}

					a:link, a:visited {
						opacity: 0.20;
						filter: alpha(opacity=20);
					}

					a:hover, a:active {
						opacity: 0.9;
						filter: alpha(opacity=90);
					}

					i {
						position: relative; top: -6%;
						font-size: 2.2em;
					}
				}
			}

			.read-more {
				text-transform: uppercase;
			}
		}

		article, #paging {
			margin-left: 33%;
		}

		.video {
			width: 90%;
			position: relative;
			display: inline-block;
			padding-top: 50.1%;

			iframe {
				position: absolute; top: 0; bottom: 0; right: 0; left: 0;
				width: 100%; height: 100%;
			}
		}
	}
} 

@media (max-width: 1299px) {
	#stories {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/full-bleed/lab-2-1299.jpg);
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
		}

		main {
			article {
				width: 70%;

				header time {
					left: 3em;
				}
			}

			article, #paging {
				margin-left: 30%;
			}
		}
	}
}

@media (max-width: 1099px) {
	#stories>header {
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/full-bleed/lab-2-1099.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}
}

@media (max-width: 899px) {
	#stories {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/full-bleed/lab-2-899.jpg);
			background-size: cover;
			background-position: center top;
			background-attachment: inherit;
		}

		main {
			article {
				width: 66%;

				header {
					time {
						width: 17%;
					}

					.widgets {
						position: relative; left: 0;

						ul {
							text-align: left;
							margin-top: 1em;
							padding: 0;
						}

						li {
							display: inline;
							margin-right: 0.7em;
						}

						i {
							top: 0;
							font-size: 1.6em;
						}
					}
				}
			}

			article, #paging {
				margin-left: 7%;
			}

			.video {
				width: 100%;
				padding-top: 55.55%;
			}
		}
	}
}

@media (max-width: 639px) {
	#stories {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/full-bleed/lab-2-639.jpg);
			background-size: cover;
			background-position: center top;
			background-attachment: inherit;
		}

		main {
			article {
				width: 80%;

				header time {
					width: inherit;
					position: relative; left: 0;
				}
			}

			article, #paging {
				margin-left: 0;
			}
		}
	}
}

@media (max-width: 499px) {
	#stories main article {
		width: 82%;
	}
}