html, body {
	width: 100%; height: 100%;
	background-color: #829192;
}

a:link, a:visited {
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
}

p {
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 1.4em 0;
}

h1 {
	font-size: 2.2em;

	a:link, a:visited {
		text-decoration: none;
	}
}

h2 {
	font-size: 1.7em;
	font-weight: 400;
}

time {
	font-size: 1em;
	padding-top: 0.15em;
}

address {
	font-size: 1.1em;
	font-style: normal;
	line-height: 1.2em;
}

hr {
	margin: 2em 0 3.6em 0;
}

blockquote {
    font-weight: 400;
    font-style: italic;
    margin: 0 2em;
}

.center {
	width: 100%;
	text-align: center;
}

ul.links {
	list-style: none;
	list-style-type: none;

	li {
		display: inline-block;

		i {
			font-size: 1.8em;
			margin: 0 0.125em;
		}
	}
}

@media (max-width: 1299px) {
	h1 {
		font-size: 2.05em;
	}

	h2, .more {
		font-size: 1.6em;
	}

	time {
		font-size: 0.95em;
		padding-top: 0.2em;
	}

	ul.links li i {
		font-size: 1.65em;
	}
}

@media (max-width: 1099px) {
	h1 {
		font-size: 1.8em;
	}

	h2, .more {
		font-size: 1.4em;
	}

	p, address {
		font-size: 1.05em;
	}

	ul.links li i {
		font-size: 1.5em;
	}

	time {
		font-size: 0.88em;
		padding-top: 0.3em;
	}
}

@media (max-width: 899px) {
	h1 {
		font-size: 1.5em;
	}

	h2, .more {
		font-size: 1.25em;
	}

	p, address {
		font-size: 1em;
	}

	ul.links li i {
		font-size: 1.5em;
	}

	hr {
		margin-bottom: 0;
	}
}

@media (max-width: 499px) {
	hr {
		margin-bottom: 0.8em;
	}
}

.cta {
	a {
		font-size: 2em;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0.3em 0.6em;
		letter-spacing: 0.05em;
		white-space: nowrap;
	}

	a:link, a:visited {
		background-color: #829192;
		color: white;
	}

	a:hover, a:active {
		background-color: #e9e9e9;
		color: #444444;
	}
}

ul.cta, ol.cta {
	list-style-type: none;
}

ul.cta li, ol.cta li {
	display: inline-block;
}

.no-margin {
	margin: 0;
}

.fa-times {
	display: none;
}