body {
	main {
		margin: 3% 3.6%;
		box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.4);
	}

	>header {
		>h1, >nav, >div {
			margin: 3% 3.6%;
		}

		h1 {
			padding: 0.075em 0;
			position: absolute; top: 0; left: 0;
			text-align: center;
			font-size: 4.5em;
			line-height: 1.2em;
			width: 7em;

			a {
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 700;
				color: #ffffff;
				display: block;
				width: 100%; height: 100%;
				letter-spacing: 0.05em;
			}
		}

		nav {
			position: absolute; top: 0; right: 0;

			#menu-button {
				display: none !important;
			}

			h2 {
				display: none;
			}

			li {
				padding: 0.7em 0;
				margin-left: 1em;
			}

			.cta a {
				padding-top: inherit;
				padding-bottom: inherit;
				padding-left: 0.7em;
				padding-right: 0.7em;
			}

			.cta a:link, .cta a:visited {
				background-color: inherit;
			}

			.cta a:hover, .cta a:active {
				background-color: #e9e9e9;
			}
		}

		#tagline {
			display: none;
			text-align: center;
			position: absolute; left: 0; top: 17%;
			width: 100%;
			margin: 0;

			p {
				width: 100%;
				font-size: 3.7em;
				font-weight: 400;
				line-height: 1.5em;
				margin: 0 auto;
				color: white;
			}
		}
	}

	>header.first-glance {
		>h1 {
			top: inherit; bottom: 20%;
			padding: 0; margin: 0;
			font-size: 2.2em;
			width: 100%;
		}

		#tagline {
			display: block;
		}
	}

	>header.fixed {
		>h1, >nav {
			margin: 0;
			position: fixed;
			z-index: 10;
			background-color: #444444;
			display: none;
		}

		h1 {
			font-size: 2em;
			width: 100%;
			padding: 0.1em 0.5em;
			text-align: left;
		}

		nav {
			li {
				padding: 0.7em 2em 0 0;
			}

			.cta a {
				font-size: 1.2em;
				padding: 0;
				background-color: #444444 !important;
				color: white !important;
				box-shadow: inherit;
			}
		}
	}
}

@media (max-width: 1299px) {
	body {
		>header {
			h1 {
				font-size: 4em;
			}

			nav .cta a {
				font-size: 1.7em;
			}

			#tagline p {
				font-size: 3.1em;
			}
		}
	}
}

@media (max-width: 1099px) {
	body {
		>header {
			h1 {
				padding: 0;
				font-size: 3.4em;
			}

			nav {
				li {
					padding: 0.4em 0;
					margin-left: 0.5em;
				}

				.cta a {
					font-size: 1.5em;
					padding-left: 0.5em;
					padding-right: 0.5em;
				}
			}

			#tagline p {
				font-size: 2.6em;
			}
		}

		>header.first-glance {
			>h1 {
				font-size: 1.9em;
			}
		}
	}
}

@media (max-width: 899px) {
	body {
		main {
			box-shadow: inherit;
		}

		>header, >header.first-glance {
			margin-top: 2.4em;

			>h1, >nav {
				margin: 0;
				position: fixed;
				background-color: #444444;
				z-index: 10;
			}

			>nav >ul >li >a, >div {
				box-shadow: inherit;
			}

			h1 {
				font-size: 2em;
				width: 100%;
				padding: 0.1em 0.5em;
				margin: 0;
				text-align: left;
				bottom: inherit; top: 0;
			}

			nav {
				ul {
					padding-right: 1em;
				}

				li {
					padding: 0.8em 0.4em 0 0;
				}

				.cta a {
					font-size: 1em;
					padding: 0;
					background-color: #444444 !important;
					color: white !important;
				}
			}

			nav.popout {
				#menu-button {
					.fa-bars {
						display: none;
					}

					.fa-times {
						display: block;
					}
				}

				.cta {
					display: block;
					position: fixed; top: 0; left: 0; bottom: 0; right: 0;
					width: 100%; height: 100%;
					text-align: center;
					background-color: rgba(68, 68, 68, .95);
					margin-top: 1.9em;
					padding-top: 7%;

					li {
						display: block;
						padding-top: 3.8em;
					}

					a {
						font-size: 2em;
						background-color: rgba(0, 0, 0, 0) !important;
					}
				}
			}

			#tagline {
				position: relative; top: 50%;
				transform: translateY(-50%);

				p {
					font-size: 2.2em;
					padding: 0;
				}
			}
		}
	}
}

@media (max-width: 639px) {
	body {
		>header, >header.first-glance {
			nav {
				left: 0; right: inherit;

				#menu-button {
					display: block !important;

					i {
						margin: 0.5em 0 0 0.6em;
						color: white;
						font-size: 1.2em;
					}
				}

				ul {
					display: none;
				}
			}

			h1 {
				font-size: 1.6em;
				text-align: center;
				padding: 0.15em 0;
			}

			#tagline p {
				font-size: 2.2em;
				padding: 2.4em 0;
				width: 64%;

				br {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 499px) {
	body {
		>header, >header.first-glance {
			margin-top: 2em;

			h1 {
				font-size: 1.25em;
				padding: 0.35em 0;
			}

			nav a i.fa {
				margin: 0.5em 0 0 0.6em;
				font-size: 1.2em;
			}

			#tagline p {
				font-size: 1.7em;
				width: 80%;
			}
		}
	} 
}