/* Reset, based on html5doctor.com v1.6.1 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	font-family:'Lato', sans-serif;
	color:#444444;
	letter-spacing:0.03em;
}

body {
	line-height:normal;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration:line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

hr {
	display:block;
	height:1px;
	border:0;   
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

@-ms-viewport{
  width: device-width;
}

/* sitewide elements */				 /* #829192 #ef2a8e #cc7edb */

html, body {
	width: 100%; height: 100%;
	background-color: #829192;
}

p {
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 1.4em 0;
}

h1 {
	font-size: 2.2em;
}

time {
	font-size: 1em;
}

address {
	font-size: 1.1em;
	font-style: normal;
	line-height: 1.2em;
}

hr {
	margin-bottom: 3em;
}

@media (max-width: 1299px) {
	h1 {
		font-size: 2.05em;
	}
}

@media (max-width: 1099px) {
	h1 {
		font-size: 1.8em;
	}

	time {
		font-size: 0.95em;
	}

	p, address {
		font-size: 1.05em;
	}
}

@media (max-width: 899px) {
	h1 {
		font-size: 1.5em;
	}

	time {
		font-size: 0.9em;
	}

	p, address {
		font-size: 1em;
	}

	hr {
		margin-bottom: 0;
	}
}

@media (max-width: 499px) {
	hr {
		margin-bottom: 0.8em;
	}
}

/* sitewide classes */

.cta a {
	font-size: 2em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.3em 0.6em;
	letter-spacing: 0.05em;
	white-space: nowrap;
}

.cta a:link, .cta a:visited {
	background-color: #829192;
	color: white;
}

.cta a:hover, .cta a:active {
	background-color: #d9d9d9;
	color: #444444;
}

ul.cta, ol.cta {
	list-style-type: none;
}

ul.cta li, ol.cta li {
	display: inline-block;
}

.no-margin {
	margin: 0;
}

.fa-times {
	display: none;
}

/* sitewide header */

body>header>h1, body>header>nav, body>header>div, main {
	margin: 3% 4.5%;
}

body>header>h1 {
	box-shadow: 10px 10px 2em rgba(0, 0, 0, 0.6);
}

body>header>nav>ul>li>a, body>header>div, main {
	box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);
}

body>header h1 {
	padding: 0.2em 0;
	background-color: #829192;
	position: absolute; top: 0; left: 0;
	text-align: center;
	font-size: 3.7em;
	line-height: 1.2em;
	width: 7em;
}

body>header h1 a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	width: 400px;
	letter-spacing: 0.05em;
}

body>header nav {
	position: absolute; top: 0; right: 0;
}

body>header nav #menu-button {
	display: none !important;
}

body>header nav h2 {
	display: none;
}

body>header nav li {
	padding: 0.7em 0;
	margin-left: 1em;
}

body>header nav .cta a {
	padding-top: inherit;
	padding-bottom: inherit;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

body>header.fixed>h1, body>header.fixed>nav {
	margin: 0;
	position: fixed;
	z-index: 10;
	background-color: #444444;
	display: none;
}

body>header.fixed h1 {
	font-size: 2em;
	width: 100%;
	padding: 0.1em 0.5em;
	text-align: left;
}

body>header.fixed nav li {
	padding: 0.7em 2em 0 0;
}

body>header.fixed nav .cta a {
	font-size: 1.2em;
	padding: 0;
	background-color: #444444 !important;
	color: white !important;
}

@media (max-width: 1299px) {
	body>header h1 {
		font-size: 3em;
	}

	body>header nav .cta a {
		font-size: 1.7em;
	}
}

@media (max-width: 1099px) {
	body>header h1 {
		font-size: 2.5em;
	}

	body>header nav li {
		padding: 0.4em 0;
		margin-left: 0.5em;
	}

	body>header nav .cta a {
		font-size: 1.5em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

@media (max-width: 899px) {
	body>header>h1, body>header>nav {
		margin: 0;
		position: fixed;
		background-color: #444444;
		z-index: 10;
	}

	body>header h1 {
		font-size: 2em;
		width: 100%;
		padding: 0.1em 0.5em;
		text-align: left;
	}

	body>header nav ul {
		padding-right: 1em;
	}

	body>header nav li {
		padding: 0.8em 0.4em 0 0;
	}

	body>header nav .cta a {
		font-size: 1em;
		padding: 0;
		background-color: #444444 !important;
		color: white !important;
	}

	body>header nav.popout #menu-button .fa-bars {
		display: none;
	}

	body>header nav.popout #menu-button .fa-times {
		display: block;
	}

	body>header nav.popout .cta, body>header nav.popout .cta li {
		display: block;
	}

	body>header nav.popout .cta li {
		padding-top: 3.8em;
	}

	body>header nav.popout .cta {
		position: fixed; top: 0; left: 0; bottom: 0; right: 0;
		width: 100%; height: 100%;
		text-align: center;
		background-color: rgba(68, 68, 68, .95);
		margin-top: 1.9em;
		padding-top: 7%;
	}

	body>header nav.popout .cta a {
		font-size: 2em;
		background-color: rgba(0, 0, 0, 0) !important
	}
}

@media (max-width: 639px) {
	body>header nav {
		left: 0; right: inherit;
	}

	body>header h1 {
		font-size: 1.6em;
		text-align: center;
		padding: 0.15em 0;
	}

	body>header nav #menu-button {
		display: block !important;
	}

	body>header nav #menu-button i {
		margin: 0.5em 0 0 0.6em;
		color: white;
		font-size: 1.2em;
	}

	body>header nav ul {
		display: none;
	}
}

@media (max-width: 499px) {
	body>header h1 {
		font-size: 1.25em;
		padding: 0.35em 0;
	}

	body>header nav a i.fa {
		margin: 0.5em 0 0 0.6em;
		font-size: 1.2em;
	}
}

/* home */

#home>header {
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-1-1600.jpg);
	background-position: center center;
	background-size: cover;
	height: 96%;
	position: relative;
}

#home h1, #home h2 {
	display: none;
}

#home header h1 {
	display: block;
}

#home>section {
	font-size: 1.2em;
}

#home>section, #home>footer {
	text-align: center;
	line-height: 1.5em;
	width: 100%;
}

#home>p {
	display: block;
	font-weight: normal;
	color: white;
	padding: 4.2em 0;
	font-size: 2.5em;
	text-align: center;
	margin: 0;
	letter-spacing: 0.06em;
}

#home>.alt {
	background-color: #d9d9d9;
}

#home>p.alt {
	padding: 3.5em 0;
	color: #444444;
	font-size: 2.7em;
	letter-spacing: 0.03em;
}

#home>p.lead-in {
	padding: 9% 0 9.5% 0;
}

@media (max-width: 1299px) {
	#home>header {
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-1-1299.jpg);
		background-position: center center;
		background-size: cover;
	}

	#home>p {
		font-size: 2em;
	}

	#home p.alt {
		font-size: 2.08em;
	}

	#home>p.lead-in {
		padding: 8.3% 0 11% 0;
	}
}

@media (max-width: 1099px) {
	#home>header {
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-1-1099.jpg);
		background-position: center center;
		background-size: cover;
	}

	#home>p {
		font-size: 1.81em;
	}

	#home p.alt {
		font-size: 1.9em;
	}

	#home>p.lead-in {
		padding: 10.3% 0 12.7% 0;
	}
}

@media (max-width: 899px) {
	#home>header {
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-1-899.jpg);
		background-position: top center !important;
		background-size: cover;
	}

	#home>header, #home>footer {
		height: 85%;
		position: relative;
	}
}

@media (max-width: 639px) {
	#home>header {
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-1-639.jpg);
		background-position: top center !important;
		background-size: cover;
	}

	#home>p {
		font-size: 1.5em;
	}

	#home>p.alt {
		font-size: 1.6em;
		padding: 2.5em 0;
	}

	#home>p.lead-in {
		padding: 13.3% 0 21.7% 0;
	}
}

/* home sponsors */

#home #sponsors {
	background: white;
	opacity: 0.88;
	filter: alpha(opacity=88);
	position: absolute; bottom: 0; right: 0;
}

#home #sponsors a {
	text-decoration: none;
}

#home #sponsors img {
	opacity: 1;
	filter: alpha(opacity=100);
	vertical-align: middle;
	margin: 18px;
}

#home #sponsors #thoughtworks img {
	width: 250px;
	margin-right: 14px;
}

#home #sponsors #volumetric img {
	width: 48px;
	margin-left: 20px;
}

@media (max-width: 1299px) {
	#home #sponsors #thoughtworks img {
		width: 200px;
	}

	#home #sponsors #volumetric img {
		width: 40px;
	}
}

@media (max-width: 1099px) {
	#home #sponsors img {
		margin: 15px;
	}

	#home #sponsors #thoughtworks img {
		width: 180px;
	}

	#home #sponsors #volumetric img {
		width: 33px;
	}
}

@media (max-width: 899px) {
	#home #sponsors {
		text-align: center;
		margin: 0px auto;
		width: 100%;
	}

	#home #sponsors img {
		margin: 4px;
	}

	#home #sponsors #volumetric img {
		width: 28px;
	}
}

@media (max-width: 639px) {
	#home #sponsors #thoughtworks img {
		width: 150px;
	}

	#home #sponsors #volumetric img {
		width: 23px;
		margin-left: 15px;
	}
}

@media (max-width: 499px) {
	#home #sponsors #thoughtworks img {
		width: 130px;
	}

	#home #sponsors #volumetric img {
		width: 20px;
	}
}

/* home tagline */

#home #tagline p {
	width: 100%;
	font-size: 3em;
	font-weight: 400;
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2.4em 0;
}

@media (max-width: 1299px) {
	#home #tagline p {
		font-size: 2.2em;
		padding: 2.9em 0;
	}
}

@media (max-width: 1099px) {
	#home #tagline p {
		font-size: 2.1em;
		padding: 3.05em 0;
	}
}

@media (max-width: 899px) {
	#home #tagline p {
		font-size: 1.7em;
		padding: 3.2em 0;
	}
}

@media (max-width: 639px) {
	#home #tagline p {
		font-size: 1.5em;
		padding: 2.4em 0;
		width: 66.2%;
	}

	#home #tagline p br {
		display: none;
	}
}

@media (max-width: 499px) {
	#home #tagline p {
		font-size: 1.3em;
		width: 73%;
	}
}

/* home members */

#home #members {
	padding-bottom: 3.4%;
}

#home #members figure {
	display: inline-block;
	padding: 0 2% 1.6em 2%;
	position: relative; top: -3.5em;
	width: 27%;
	vertical-align: text-top;
}

#home #members figure img {
	width: 80%;
	position: relative; top: 2.5em; left: -10%;
}

#home #members figcaption {
	background: #d9d9d9;
	opacity: 0.92;
	filter: alpha(opacity=92);
	display: inline;
	padding: 2.9% 7.8%;
	line-height: 1.3em;
	text-align: left;
	font-size: 1.2em;
	position: absolute; top: 36.5%; right: 7%;
	text-transform: uppercase;
	font-weight: 400;
}

#home #members blockquote {
	background: #d9d9d9;
	opacity: 0.92;
	filter: alpha(opacity=92);
	padding: 2.6em 10% 2em 12%;
	text-align: left;
	quotes: "\201C" "\201D";
	width: 73%;
	line-height: 1.8em;
}

#home #members blockquote:before {
	color: #cccccc;
	content: open-quote;
	font-size: 14em;
	vertical-align: middle;
	font-family: Georgia, Serif;
	font-weight: bold;
	position: relative; top: 19px; left: -17px;
	margin: -11px;
}

#home #members blockquote p {
	display: inline;
	font-size: 1em;
	font-weight: 400;
	font-style: italic;
	color: #444444;
}

#home #members blockquote .quotation-mark {
	display: none;
}

@media (max-width: 1299px) {
	#home #members {
		padding-bottom: 2.7%;
	}

	#home #members figcaption {
		font-size: 1.1em;
		top: 34.5%; right: 3%;
	}

	#home #members blockquote {
		padding: 1.6em 9.3% 1.4em 9.7%;
		width: 81%;
	}

	#home #members blockquote p {
		font-size: 0.9em;
	}

	#home #members blockquote:before {
		font-size: 12.5em;
	}
}

@media (max-width: 1099px) {
	#home #members figure {
		width: 28%;
	}

	#home #members {
		padding-bottom: 1.35%;
	}

	#home #members figure img {
		width: 90%;
		left: -4%;
	}

	#home #members figcaption {
		font-size: 1em;
	}

	#home #members blockquote {
		padding: 0.95em 8% 1.3em 11%;
	}

	#home #members blockquote p {
		font-size: 0.85em;
	}

	#home #members blockquote:before {
		display: none;
	}

	#home #members blockquote .quotation-mark {
		display: inline;
	}
}

@media (max-width: 899px) {
	#home #members {
		text-align: left;
	}

	#home #members figure {
		width: 100%; padding: 0;
		margin-bottom: 2.5em;
	}

	#home #members figure img {
		width: 29%;
		left: 22%;
	}

	#home #members figcaption {
		font-size: 1.1em;
		right: 71%; top: 83%;
		padding: 2% 4.9%;
	}

	#home #members blockquote {
		position: absolute; right: 14%; top: 22.5%;
		width: 31%;
		padding: 0.85em 4.2% 1em 5.3%;
		font-size: 1.1em;
		line-height: 1.5em;
	}

	#home #members #member-2 img {
		left: 50%;
	}

	#home #members #member-2 figcaption {
		right: inherit; left: 71%;
	}

	#home #members #member-2 blockquote {
		right: inherit; top: 22.5%; left: 15%;
	}
}

@media (max-width: 639px) {
	#home #members figure img {
		width: 35%;
		left: 15%; top: 2.2em;
	}

	#home #members figcaption {
		font-size: 0.8em;
		top: 94.7%; right: 69.1%;
	}

	#home #members blockquote p {
		font-size: 0.75em;
	}
}

@media (max-width: 499px) {
	#home #members figure {
		text-align: center;
		margin-bottom: 0.5em;
	}
	
	#home #members figure img {
		position: relative;
		top: 2em; left: 0 !important;
		width: 60%;
	}

	#home #members figcaption {
		font-size: 1em;
		top: 40%; right: 12% !important; left: inherit !important;
	}

	#home #members blockquote {
		width: 60%;
		position: static;
		margin: 0 auto;
	}
}

/* home video */

#home #about {
	padding-bottom: 7em;
}

#home #about .video {
	width: 64%;
	position: relative;
	display: inline-block;
	padding-top: 36.01%;
}

#home #about .video iframe {
	position: absolute; top: 0; bottom: 0; right: 0; left: 0;
	width: 100%; height: 100%;
}

@media (max-width: 1299px) {
	#home #about {
		padding-bottom: 6em;
	}
}

@media (max-width: 1099px) {
	#home #about .video {
		width: 76%;
		padding-top: 42.75%;
	}

	#home #about {
		padding-bottom: 5.5em;
	}
}

@media (max-width: 899px) {
	#home #about .video {
		width: 84%;
		padding-top: 47.25%;
	}

	#home #about {
		padding-bottom: 4em;
	}
}

@media (max-width: 639px) {
	#home #about {
		padding-bottom: 3em;
	}
}

/* home footer */

#home>footer {
	background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/equipment-1600.jpg);
	background-position: center center;
	background-size: cover;
	height: 100%;
}

#home>footer ul {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#home>footer li {
	padding: 2.7em;
	display: block;
}

#home>footer a {
	font-size: 3em;
	margin: 0.5em;
}

@media (max-width: 1299px) {
	#home>footer {
		background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/equipment-1299.jpg);
		background-position: center center;
		background-size: cover;
	}
}

@media (max-width: 1099px) {
	#home>footer {
		background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/equipment-1099.jpg);
		background-position: center center;
		background-size: cover;
	}

	#home>footer a {
		font-size: 2.8em;
	}
}

@media (max-width: 899px) {
	#home>footer {
		background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/equipment-899.jpg);
		background-position: center center;
		background-size: cover;
		height: 70%;
	}

	#home>footer a {
		font-size: 2.1em;
	}

	#home>footer li {
		padding: 1.7em;
	}
}

@media (max-width: 639px) {
	#home>footer {
		background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/equipment-639.jpg);
		background-position: center center;
		background-size: cover;
	}

	#home>footer a {
		font-size: 1.7em;
	}
}

@media (max-width: 499px) {
	#home>footer {
		height: 70%;
	}

	#home>footer a {
		font-size: 1.5em;
	}
}

/* content pages */

.content>header {
	height: 90%;
}

.content main {
	width: 63%;
	background-color: #d9d9d9;
	font-weight: 300;
	padding: 3.3em 3em 5em 4em;
	margin-bottom: 7.4%;
	position: absolute; top: 58%;
}

.content main h1 {
	margin-bottom: 1em;
	font-weight: normal;
}

.content main .cta {
	margin-top: 3em;
}

.content main .cta a {
	font-size: 1.8em;
}

@media (max-width: 1299px) {
	.content main .cta a {
		font-size: 1.6em;
	}
}

@media (max-width: 1099px) {
	.content>header {
		height: 80%;
	}

	.content main {
		width: 70%;
		top: 51%;
	}

	.content main .cta a {
		font-size: 1.4em;
	}
}

@media (max-width: 899px) {
	.content>header {
		height: 62%;
	}

	.content main {
		padding: 0;
		margin: 0;
		position: static;
		width: 100%;
	}

	.content article {
		padding: 3.3em 3em 0 4em;
	}

	.content main .cta {
		padding-bottom: 3em;
	}

	.content #paging {
		padding-left: 4em;
	}
}

@media (max-width: 639px) {
	.content article {
		padding: 2em 3em 0 2.5em;
	}

	.content #paging {
		padding: 0 0 4em 2.5em;
	}

	.content main .cta a {
		font-size: 1.3em;
	}
}

@media (max-width: 499px) {
	.content>header {
		height: 50%;
	}

	.content article {
		padding: 1.5em 2em 0 1.5em;
	}

	.content #paging {
		padding: 0 0 3em 1.5em;
	}
}

/* lab feed */

#lab-feed>header {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/lab-2-1600.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#lab-feed main .video {
	width: 90%;
	position: relative;
	display: inline-block;
	padding-top: 50.1%;
}

#lab-feed main .video iframe {
	position: absolute; top: 0; bottom: 0; right: 0; left: 0;
	width: 100%; height: 100%;
}

@media (max-width: 1299px) {
	#lab-feed>header {
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/lab-2-1299.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}
}

@media (max-width: 1099px) {
	#lab-feed>header {
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/lab-2-1099.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}
}

@media (max-width: 899px) {
	#lab-feed>header {
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/lab-2-899.jpg);
		background-size: cover;
		background-position: center top;
		background-attachment: inherit;
	}
}

@media (max-width: 639px) {
	#lab-feed>header {
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url(/images/lab-2-639.jpg);
		background-size: cover;
		background-position: center top;
		background-attachment: inherit;
	}

	#lab-feed main .video {
		width: 100%;
		padding-top: 55.55%;
	}
}

/* join us page */

#join-us>header {
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-3-1600.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#join-us main #map {
	position: relative;
	width: 47%;
	padding-top: 43%;
	float: right;
	margin: 0 1.4em 0 2.7em;
}

#join-us main #map iframe {
	position: absolute; top: 0; left: 0; bottom: 0; right: 0;
	width: 100%; height: 100%;
}

@media (max-width: 1299px) {
	#join-us>header {
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-3-1299.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}

	#join-us main #map {
		margin: 0 0.5em 0 2.1em;
	}
}

@media (max-width: 1099px) {
	#join-us>header {
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-3-1099.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}

	#join-us address, #join-us #when {
		font-weight: 400;
	}

	#join-us main #map {
		width: 46%;
		padding-top: 53%;
	}
}

@media (max-width: 899px) {
	#join-us>header {
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-3-899.jpg);
		background-size: cover;
		background-position: center top;
		background-attachment: inherit;
	}

	#join-us main #map {
		width: 95%;
		padding-top: 40%;
		float: left;
		margin: 0.1em 10em 1.7em 0;
	}
}

@media (max-width: 639px) {
	#join-us>header {
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(/images/lab-3-639.jpg);
		background-size: cover;
		background-position: center top;
		background-attachment: inherit;
	}

	#join-us main #map {
		width: 100%;
	}
}

@media (max-width: 499px) {
	#join-us main #map {
		padding-top: 65%;
	}
}

.example {
    mask: url('mask.png') no-repeat fixed 20px 20px padding padding;
}