#stories {
	>header {
		background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('/images/full-bleed/lab-2-1600.jpg');
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}
} 

@media (max-width: 1299px) {
	#stories {
		>header {
			background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('/images/full-bleed/lab-2-1299.jpg');
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
		}
	}
}

@media (max-width: 1099px) {
	#stories {
		>header {
			background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('/images/full-bleed/lab-2-1099.jpg');
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
		}
	}
}

@media (max-width: 899px) {
	#stories {
		>header {
			background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('/images/full-bleed/lab-2-899.jpg');
			background-size: cover;
			background-position: center top;
			background-attachment: inherit;
		}
	}
}

@media (max-width: 639px) {
	#stories {
		>header {
			background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('/images/full-bleed/lab-2-639.jpg');
			background-size: cover;
			background-position: center top;
			background-attachment: inherit;
		}
	}
}