#home #members {
	figure {
		display: inline-block;
		position: relative; top: -3.5em;
		width: 25%;
		margin: 0;
		padding: 3%;
		vertical-align: text-top;

		img {
			width: 100%;
			border-radius: 50%;
			position: relative; z-index: 5;
		}

		figcaption {
			background-color: #e9e9e9;
			padding: 1em 0;

			h2 {
				text-transform: uppercase;
				display: block;
				margin: 0.6em 0;
			}

			p.occupation {
				white-space: nowrap;
				font-weight: 900;
				margin: 1em 0;
			}

			blockquote {
				margin: 0;

				p {
					margin-bottom: 6em;
				}
			}

			a.more {
				position: absolute; bottom: 2em;
				width: 90%;
				display: block;
			}
		}
	}
}

@media (max-width: 1099px) {
	#home #members figure figcaption {
		p.occupation {
			white-space: normal;
		}

		blockquote p {
			margin-bottom: 3em;
		}
	}
}

@media (max-width: 899px) {
	#home #members {
		margin-bottom: 6%;

		figure {
			width: 100%; height: 17em;
			position: relative; top: 0;
			padding: 0;
			text-align: left;

			img, figcaption {
				position: absolute; top: 50%;
				transform: translateY(-50%);
			}

			img {
				left: 8%;
				width: 33%;
			}

			figcaption {
				right: 4%;
				width: 50%;
				min-height: inherit;
				padding-left: 7em;

				p.occupation {
					height: inherit;
				}

				blockquote {
					padding-right: 16%;

					p {
						height: inherit;
						margin-bottom: inherit;
					}
				}

				a.more {
					position: relative; bottom: 0;
					margin: 1em;
					display: inline-block;
				}
			}
		}

		#member-2 {
			text-align: right;

			img {
				left: inherit; right: 8%;
			}

			figcaption {
				left: 4%; right: inherit;
				padding-left: inherit; padding-right: 7em;

				blockquote {
					padding-right: 0;
					padding-left: 16%;
				}
			}
		}

		#member-3 {
			margin-bottom: 26%;
		}
	}
}

@media (max-width: 849px) {
	#home #members figure {
		height: 16.5em;
	}
}

@media (max-width: 799px) {
	#home #members figure {
		height: 16em;
	}
}

@media (max-width: 749px) {
	#home #members figure {
		height: 15em;
	}
}

@media (max-width: 639px) {
	#home #members {
		figure, #member-2 {
			text-align: center;
			width: 100%;
			height: inherit;

			img, figcaption {
				position: relative; top: 0; left: 0;
				transform: inherit;
			}

			img {
				width: 60%;
			}

			figcaption {
				width: 100%;
				padding: 0;

				h2 {
					margin-top: 1em;
				}

				blockquote {
					padding: 0;
					width: 50%;
					margin: 0 auto 3em auto;
				}
			}
		}

		#member-3 {
			margin-bottom: 9em;
		}
	}
}

@media (max-width: 499px) {
	#home #members {
		figure, #member-2 {
			img {
				width: 77%;
			}

			figcaption {
				blockquote {
					width: 75%;
				}
			}
		}
	}
}