#home #about {
	padding-bottom: 7em;

	.video {
		width: 86%;
		position: relative;
		display: inline-block;
		padding-top: 48.4%;

		iframe {
			position: absolute; top: 0; bottom: 0; right: 0; left: 0;
			width: 100%; height: 100%;
		}
	}
}

@media (max-width: 1299px) {
	#home #about {
		padding-bottom: 6em;
	}
}

@media (max-width: 1099px) {
	#home #about {
		padding-bottom: 5.5em;
	}
}

@media (max-width: 899px) {
	#home #about {
		padding-bottom: 4em;
	}
}

@media (max-width: 639px) {
	#home #about {
		padding-bottom: 3em;
	}
}