#home {
	>header {
		background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/images/full-bleed/lab-1-1600.jpg);
		background-position: center center;
		background-size: cover;
		height: 100%;
		position: relative;
	}

	h1, h2 {
		display: none;
	}

	h1, h2, p {
		cursor: default;
	}

	header {
		position: relative;

		h1 {
			display: block;
		}

		nav {
			display: none;
		}

		#chevron {
			display: none;
			position: absolute; bottom: 4%; left: 50%;
			text-align: center;
			padding: 0; margin: 0;
			width: 4em; height: 0.3em;
			transform: translateX(-50%);
			opacity: 0.7;
			filter: alpha(opacity=70);
		}

		#chevron:before {
			content: '';
			position: absolute; top: 0; left: 0;
			width: 51%; height: 100%;
			background: white;
			transform: skew(0deg, 20deg);
		}

		#chevron:after {
			content: '';
			position: absolute; top: 0; right: 0;
			width: 50%; height: 100%;
			background: white;
			transform: skew(0deg, -20deg);
		}
	}

	>section {
		font-size: 1.2em;
		position: relative;

		.more {
			position: absolute; bottom: 13%;
			display: block;
			width: 80%; padding: 0 10%;
			font-size: 1.2em;
		}
	}

	>section, >footer {
		text-align: center;
		line-height: 1.5em;
		width: 100%;
	}

	>p {
		padding: 4.2em 10%;
		display: block;
		font-weight: normal;
		color: white;
		font-size: 2.63em;
		text-align: center;
		margin: 0;
		letter-spacing: 0.06em;
	}

	>.alt {
		background-color: #e9e9e9;
	}

	>p.alt {
		padding-top: 3.5em;
		padding-bottom: 3.5em;
		color: #444444;
		font-size: 2.7em;
		letter-spacing: 0.03em;
	}

	>p.lead-in {
		padding-top: 9%;
		padding-bottom: 9.5%;
	}
}

@media (max-width: 1299px) {
	#home {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ), url(/images/full-bleed/lab-1-1299.jpg);
			background-position: center center;
			background-size: cover;
		}

		>p {
			font-size: 2.15em;
		}

		p.alt {
			font-size: 2.2em;
		}

		>p.lead-in {
			padding-top: 8.3%; padding-bottom: 11%;
		}

		>section .more {
			font-size: 1.15em;
		}
	}
}

@media (max-width: 1099px) {
	#home {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ), url(/images/full-bleed/lab-1-1099.jpg);
			background-position: center center;
			background-size: cover;
		}

		>p {
			font-size: 2.05em;
		}

		p.alt {
			font-size: 2.1em;
		}

		>p.lead-in {
			padding-top: 10.3%; padding-bottom: 12.7%;
		}

		>section .more {
			font-size: 1.1em;
		}
	}
}

@media (max-width: 899px) {
	#home {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ), url(/images/full-bleed/lab-1-899.jpg);
			background-position: center center !important;
			background-size: cover;

			nav {
				display: block;
			}
		}

		>header, #home>footer {
			height: 96%;
			position: relative;
		}

		header #chevron {
			bottom: 8%;
		}

		>p.lead-in {
			padding-bottom: 7.7%;
		}

		>section .more {
			bottom: 9%;
		}
	}
}

@media (max-width: 639px) {
	#home {
		>header {
			background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ), url(/images/full-bleed/lab-1-639.jpg);
			background-position: bottom center !important;
			background-size: cover;
		}

		>p {
			padding-top: 2.2em;
			padding-bottom: 2.2em;
		}

		>p.alt {
			padding-top: 2.5em;
			padding-bottom: 2.5em;
		}

		>p.lead-in {
			padding-top: 12.3%;
			padding-bottom: 14%;
		}

		>section .more {
			bottom: 5%;
		}
	}
}