#home>footer {
	background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/full-bleed/equipment-1600.jpg);
	background-position: center center;
	background-size: cover;
	height: 100%;

	ul {
		position: relative; top: 50%;
		transform: translateY(-50%);
	}

	li {
		padding: 2.7em;
		display: block;
	}

	a {
		font-size: 3em;
		margin: 0.5em;
	}
}

@media (max-width: 1299px) {
	#home>footer {
		background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/full-bleed/equipment-1299.jpg);
		background-position: center center;
		background-size: cover;
	}
}

@media (max-width: 1099px) {
	#home>footer {
		background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/full-bleed/equipment-1099.jpg);
		background-position: center center;
		background-size: cover;

		a {
			font-size: 2.8em;
		}
	}
}

@media (max-width: 899px) {
	#home>footer {
		background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/full-bleed/equipment-899.jpg);
		background-position: center center;
		background-size: cover;
		height: 70%;

		a {
			font-size: 2.1em;
		}

		li {
			padding: 1.7em;
		}
	}
}

@media (max-width: 639px) {
	#home>footer {
		background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4) ), url(/images/full-bleed/equipment-639.jpg);
		background-position: center center;
		background-size: cover;

		a {
			font-size: 1.7em;
		}
	}
}

@media (max-width: 499px) {
	#home>footer {
		height: 70%;

		a {
			font-size: 1.6em;
			line-height: 1.2em;
			white-space: inherit;
			margin: 0; padding: 0.25em 0;
		}

		a:link, a:visited {
			box-shadow: 0.5em 0 0 #829192, -0.5em 0 0 #829192;
		}

		a:hover, a:active {
			box-shadow: 0.5em 0 0 #e9e9e9, -0.5em 0 0 #e9e9e9;
		}
	}
}