#home #members {
	figure {
		display: inline-block;
		position: relative; top: -3.5em;
		width: 25%;
		padding: 2%;
		margin: 1%;
		vertical-align: text-top;

		img {
			width: 100%;
			border-radius: 50%;
			position: relative; z-index: 10;
		}

		.name {
			text-transform: uppercase;
			font-size: 1.8em;
			margin-bottom: 0;
		}

		blockquote {
			padding: 0 2em;
		}

		figcaption {
			background-color: #e9e9e9;
			padding: 1em;
			height: 19em;
			position: relative;
			top: -3em;
		}

		a {
			position: absolute; bottom: 2em;
			width: 90%;
			display: block;
		}
	}
}

@media (max-width: 1299px) {
	#home #members {
		padding-bottom: 2.7%;

		figcaption {
			font-size: 1.1em;
			top: 34.5%; right: 3%;
		}

		blockquote {
			padding: 1.6em 9.3% 1.4em 9.7%;
			width: 81%;

			p {
				font-size: 0.9em;
			}
		}

		blockquote:before {
			font-size: 12.5em;
		}
	}
}

@media (max-width: 1099px) {
	#home #members {
		padding-bottom: 1.35%;

		figure {
			width: 28%;

			img {
				width: 90%;
				left: -4%;
			}
		}

		figcaption {
			font-size: 1em;
		}

		blockquote {
			padding: 0.95em 8% 1.3em 11%;

			p {
				font-size: 0.85em;
			}

			.quotation-mark {
				display: inline;
			}
		}

		blockquote:before {
			display: none;
		}
	}
}

@media (max-width: 899px) {
	#home #members {
		text-align: left;

		figure {
			width: 100%; padding: 0;
			margin-bottom: 2.5em;

			img {
				width: 29%;
				left: 22%;
			}
		}

		figcaption {
			font-size: 1.1em;
			right: 71%; top: 83%;
			padding: 2% 4.9%;
		}

		blockquote {
			position: absolute; right: 14%; top: 22.5%;
			width: 31%;
			padding: 0.85em 4.2% 1em 5.3%;
			font-size: 1.1em;
			line-height: 1.5em;
		}

		#member-2 {
			img {
				left: 50%;
			}

			figcaption {
				right: inherit; left: 71%;
			}

			blockquote {
				right: inherit; top: 22.5%; left: 15%;
			}
		}
	}
}

@media (max-width: 639px) {
	#home #members {
		figure {
			img {
				width: 35%;
				left: 15%; top: 2.2em;
			}
		}

		figcaption {
			font-size: 0.8em;
			top: 94.7%; right: 69.1%;
		}
		blockquote {
			p {
				font-size: 0.75em;
			}
		}
	}
}

@media (max-width: 499px) {
	#home #members {
		figure {
			text-align: center;
			margin-bottom: 0.5em;

			img {
				position: relative;
				top: 2em; left: 0 !important;
				width: 60%;
			}
		}

		figcaption {
			font-size: 1em;
			top: 40%; right: 12% !important; left: inherit !important;
		}
		
		blockquote {
			width: 60%;
			position: static;
			margin: 0 auto;
		}
	}
}